<!DOCTYPE html>
<head>
    
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
    
    <!-- Link hacia el archivo de estilos css -->
    <link rel="stylesheet" href="static/crear.css">
    
  
    
</head>
    
<body>

    <div id="contenedor">
        
        <div id="contenedorcentrado">
            <div id="crearhecho">
                <form id="crearh" method="post">
                    <label for="hecho">hecho</label>
                    <input id="hecho" type="text" name="hecho" placeholder="ingrese un hecho" required>
                    
                    
                    <label for="estado">estado</label>
                    <input id="estado" type="text" name="estado" placeholder="estado del hecho" required>
                    
                    <button type="submit" title="Ingresar" name="Ingresar">Crear</button>
                </form>
                
            </div>
            </div>
        </div>
    </div>
    
</body>
</html>
