{% extends 'base.html' %}
{% block action%}

{% endblock %}

{% block header %}
<h1>lista de hechos</h1>
<ul>
{% for hecho in hechos %}
    <li class="listado">
        <div>
            <span class="hecho">{{hecho['hecho']}}</span>
         </div>
    </li>
{% endfor %}
</ul>

<button class="button-h">agregar</button>
<a class="button-h" href="{{url_for('inicial.crear')}}">Crear nuevo hecho</a>
{% endblock %}

{% block content %}
<div>
    <h2> mis hechos </h2>
</div>
{% endblock %}