{% extends 'base.html' %}

{% block header%}
<h1>{% block title %} editar {{hechos['hecho']}} {% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="description">Descripcion</label>
        <input  name="description" id="description"value="{{ request.form['description'] or 
        hechos ['hecho'] }}" required>
        <label for="completed"> completado</label>
        <input type="checkbox" name="completed" id="completed" {% if hechos [ 'completed'] == 1 %} checked {% endif %}/>
        <input class="button" type="submit" value="Guardar" />
    </form>
    <form action="{{url_for('todo.delete', id=hechos['id']) }}" method="post">
     <input class="danger" type="submit" value="Eliminar" onclick="return confirm('estas seguro de eliminar?')"/>

    </form>
     {% endblock %}