body {
    background-color: aliceblue;
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    margin: 0;


}
div {
    flex-direction:column-reverse;

    min-width: 380px;
    max-width: 900px;
    width: 90%;

    background-color: #5f6769;

    /*opacity: 0.50;
    filter: alpha(opacity=50);*/

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

   
    padding: 30px;
    box-sizing: border-box;
}

label {
    flex-direction:column-reverse;
    color: black;
    text-shadow: 5px;
    text-align: center;
}

input {
    flex-direction:column-reverse;
    margin: 5px;
    width: 400px;
    height: 40px;
    padding: 5px;
    resize:none;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.button{
    font-size: 14px;
    transition: baclground-color 0.5 ease ;
    background-color: #60d6be;
    color: #fff;
    align-self: center;
    padding: 10px 15px;
    border-radius: 30px;
    text-decoration: none;
    border: none;
}

select {
    border-radius: 15px;
    background: #5f6769;
    color: white;
    padding: 10px;
    text-decoration: none;


}
