body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(69, 69, 39);
}
nav{
    background-color: white;
    box-shadow: 0px 1px 2px #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.content {
    margin-left: 180px;
    margin-top: 30px;
    margin-right: 20px;
}

.button{
    font-size: 14px;
    transition: baclground-color 0.5 ease ;
    background-color: #674dd4;
    color: #fff;
    align-self: center;
    padding: 10px 15px;
    border-radius: 30px;
    text-decoration: none;
    border: none;
}

.button-h{
    font-size: 14px;
    transition: baclground-color 0.5 ease ;
    background-color: #ab345e;
    color: #fff;
    align-self: center;
    padding: 10px 15px;
    border-radius: 30px;
    text-decoration: none;
    border: none;
}
.hecho{
    color: black;
}

a {
    font-size: 14px;
    transition: baclground-color 0.5 ease ;
    background-color: #4533b7;
    color: #fff;
    align-self: center;
    padding: 10px 15px;
    border-radius: 30px;
    text-decoration: none;
    border: none;
}

.danger{

    font-size: 14px;
    transition: baclground-color 0.5 ease ;
    background-color: #c58428;
    color: #fff;
    align-self: center;
    padding: 10px 15px;
    border-radius: 30px;
    text-decoration: none;
    border: none;
} 
