<!DOCTYPE html>
<title>{% block title %} {% endblock %} HECHOS</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap" rel="stylesheet">


<nav>
hechos
</nav>
<section class="content">
<div class="top-bar">
{% block action %}
{% endblock%}
</div>
<header>
{% block header %}{% endblock %}
</header>
<br>
{% block content %} {% endblock %}

</section>
